
# general
alias l='ls'
alias la="ls -lach"
alias lsd="ls | grep ^d"
alias mkdir='mkdir -p'
alias grep='grep --color=auto'

alias cpu='top -o cpu'

if [[ "$MYOS" != "osx" ]]; then
  alias ls='ls --color=auto'
fi

# ease of jumping
alias code='cd ~/src'
alias grr=$(which gr)
