
# general
alias l='ls'
alias la="ls -lach"
alias ll="ls -ltr"
alias lsd="ls | grep ^d"
alias mkdir='mkdir -p'
alias grep='grep --color=auto'

alias cpu='top -o cpu'

if [[ "$MYOS" != "osx" ]]; then
  alias ls='ls --color=auto'
fi

alias svn='sl'

alias rg='rg --hidden'

alias git-parent-branch='git show-branch | sed "s/].*//" | grep "\*" | grep -v "$(git rev-parse --abbrev-ref HEAD)" | head -n1 | sed "s/^.*\[//"'

alias fiveminutes='sleep 300'
alias yarn='bazel run @nodejs//:yarn'
