[user]
  name = Jake McCrary
  email = jake@jakemccrary.com
[alias]
  co = checkout
  ci = commit
  # Prints merged branches without the current working branch and mainline branches
  extraneous-branches = "!f() { git branch --merged | grep -v -e 'gh-pages' -e 'master' -e 'staging' -e 'production'; }; echo `f` | tr ' ' '\n'"

  # Deletes the extraneous branches with a soft -d
  remove-extraneous-branches = "!f() { git extraneous-branches; }; git branch -d `f`"
[color]
  diff = auto
  status = auto
  branch = auto
[core]
	excludesfile = ~/.gitignore
[push]
  default = tracking
[apply]
  whitespace = nowarn
