[user]
  name = Jake McCrary
	email = jake@jakemccrary.com
[alias]
  co = checkout
  ci = commit
  latest = rev-parse --verify HEAD

# Prints merged branches without the current working branch and mainline branches
  extraneous-branches = "!f() { git branch --merged | grep -v -e 'gh-pages' -e 'main' -e 'master' -e 'staging' -e 'production'; }; echo `f` | tr ' ' '\n'"

  # Deletes the extraneous branches with a soft -d
  remove-extraneous-branches = "!f() { git extraneous-branches; }; git branch -d `f`"
  praise = blame
[color]
  diff = auto
  status = auto
  branch = auto
[core]
  excludesfile = ~/.gitignore
[push]
  default = tracking
[apply]
  whitespace = nowarn
[init]
  templatedir = ~/.git-templates
	defaultBranch = main
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
[commit]
  template = ~/.git-templates/commit_message.txt
[pull]
	rebase = false
[merge]
	conflictstyle = diff3
